@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.home-page html{
    scroll-snap-type: y mandatory;

}
.home-page {
    font-family: 'Poppins', sans-serif;
    background: #ffa000;
    ;
}

.home-page body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background:  #ffcc80
    ;
}
.home-page section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}

.home-page section .container{
    max-width: 1360px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: flex-start;
}

.home-page section.one .container{
    grid-template-areas: 'content..';
}
.home-page section.two .container{
    grid-template-areas: '..content';
}


.home-page .hero{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    grid-area: content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.home-page h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: 90px;
    line-height: 100px;
    font-weight: 700;
    width: 100%;
    height: 100px;
    text-align: center;
}

.home-page h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    display: block;
    width: 100%;
    font-family: inherit;
}
.home-page h2 span{
    font-size: 50px;
    display: block;
    line-height: 60px;
    width: 100%;
    font-weight: 400;
    margin-bottom: 30px;
}

.home-page p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    width: 100%;
    display: block;
}